@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-500px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(500px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

body {
    animation: transitionIn 3s;
    --tw-bg-opacity: 1;
    background-color: rgb(21 21 21/var(--tw-bg-opacity));
    font-family: Inter, -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, sans-serif;
    color: #3c3836;
    height: 100vh;
    width: 100;
}

#portfolio {
    flex-direction: row;
    display: flex;
}

#info {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    margin: 4vw;
    width: 40vw;
}

#name {
    font-size: 3.6vw;
    letter-spacing: 0.2vw;
}

#description {
    margin-top: 20px;
}

#description p {
    font-size: 1.8vw;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.1vw;
}

#description li {
    margin: 1vw;
    --tw-text-opacity: 1;
    color: rgb(148 148 149/var(--tw-text-opacity));
    font-size: 1.3vw;
    letter-spacing: 0.1vw;
}

#resume {
    margin: 4vw;
    display: flex;
    justify-content: center;
}

#my_resume {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    letter-spacing: 1vw;
    text-transform: uppercase;
    font-size: 1.8vw;  
    font-weight: bold;
    text-underline-offset: 0.5vw;
}

#my_resume:visited {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}

#social {
    display: flex;
    justify-content: center;
}

#social img {
    width: 4vw;
    margin: 2vw;
}

#projects {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    margin: 4vw;
    width: 60vw;
}

#projects_text {
    letter-spacing: 0.9vw;
    text-transform: uppercase;
    font-size: 1.5vw;
    margin: 0.8vw;
}

.project_box {
    --tw-bg-opacity: 1;
    background-color: rgb(32 32 34/var(--tw-bg-opacity));
    position: relative;
    padding: 2.5vw;
    margin: 0.8vw;
    border-radius: 100px;
}

.project_box h2 {
    font-size: 1vw;
    letter-spacing: 0.6vw;
    text-transform: uppercase;
}

.project_info {
    display: flex;
}

.project_info a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_box p {
    --tw-text-opacity: 1;
    color: rgb(148 148 149/var(--tw-text-opacity));
    font-size: 1vw;
    line-height: 1.5vw;
    letter-spacing: 0.1vw;
}

#projects img {
    width: 10vw;
    margin-top: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
}

.project_image {
    border-radius: 50px;
}

/* For any screen smaller than 990px */
@media screen and (max-width: 990px) {
    body {
        animation: transitionIn 3s;
        --tw-bg-opacity: 1;
        background-color: rgb(21 21 21/var(--tw-bg-opacity));
        font-family: Inter, -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, sans-serif;
        color: #3c3836;
        width: 100%;
    }
    #portfolio {
        flex-direction: column;
    }
    #info {
        width: 100%;
    }
    #name {
        font-size: 9vw;
    }
    #description p {
        font-size: 4vw;
    }
    #description li {
        font-size: 3vw;
        margin: 2vw;
    }
    #resume {
        margin: 7vw;
    }
    #my_resume {
        --tw-text-opacity: 1;
        color: rgb(255 255 255/var(--tw-text-opacity));
        letter-spacing: 2vw;  
    }
    #my_resume::visted {
        --tw-text-opacity: 1;
        color: rgb(255 255 255/var(--tw-text-opacity));
    }  
    #social img {
        width: 10vw;
        margin: 2vw;
    }
    #projects {
        margin: 4vw;
        width: 100%;
    }
    #projects_text {
        letter-spacing: 2vw;
        font-size: 3.5vw;
        margin: 2vw;
    }
    .project_box {
        --tw-bg-opacity: 1;
        background-color: rgb(32 32 34/var(--tw-bg-opacity));
        position: relative;
        padding: 5vw;
        margin: 2vw;
    }
    .project_box h2 {
        font-size: 2.9vw;
        letter-spacing: 1.8vw;
    }
    .project_box p {
        --tw-text-opacity: 1;
        color: rgb(148 148 149/var(--tw-text-opacity));
        font-size: 3vw;
        line-height: 4vw;
    }
    #projects img{
        width: 20vw;
        height: 20vw;
        margin-top: 4vw;
        margin-right: 4vw;
        margin-bottom: 4vw;
    }
}